@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
  background: rgb(72,201,191);
  background: linear-gradient(90deg, rgba(72,201,191,1) 0%, rgba(124,0,255,1) 100%); 
}

.sidebar {
opacity: 1;
background-image: radial-gradient(#050f29 0.25px, #12172e 0.25px);
background-size: 2px 2px;
}

.great-vibes-regular-font {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}